extends base.pug

block scripts
      script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/about.css 

block content 
    div.mainwrapper
        h1 About us
        div.wrapper
            div#para
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi corrupti nam minima quae
                    | suscipit ullam ab, a, repellendus amet, laboriosam magni sapiente iure quaerat nulla adipisci
                    | placeat quod laudantium ex culpa officia vel voluptatum quis perferendis sequi. Impedit dolore
                    | reprehenderit dicta maiores. Accusamus consectetur nemo reprehenderit porro labore nesciunt, illo
                    | esse inventore ea. Dolore ab quidem explicabo neque debitis quod? Lorem ipsum dolor sit amet
                    | consectetur adipisicing elit. Enim incidunt sint sequi atque, reiciendis totam temporibus eveniet
                    | eaque explicabo in officia earum quam maiores accusamus minus quod perferendis praesentium fuga
                    | consectetur quos! Recusandae possimus necessitatibus fugiat a ipsum eius animi? Sed corrupti
                    | possimus dolorem, veniam, deserunt impedit id nam ratione voluptatum quo necessitatibus blanditiis
                    | similique incidunt quae quam ullam eos veritatis at. Libero minima veritatis adipisci amet
                    | consequuntur dolores voluptatum quo architecto laboriosam fugiat sed, dolore aspernatur esse
                    | officiis sunt optio beatae explicabo maiores assumenda reprehenderit. Blanditiis incidunt sint rem
                    | voluptate corporis recusandae quod saepe repudiandae cupiditate, accusamus quisquam iusto.
